<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout :: layout(~{::main-content}, 'Dashboard')}">

<div th:fragment="main-content">
    <!-- Hidden data for JavaScript -->
    <div th:if="${passwordError}"
         th:attr="data-password-error=${passwordError}, data-error-folder-id=${errorFolderId}, data-error-folder-name=${errorFolderName}"
         style="display: none;"></div>

    <!-- Dashboard Metrics -->
    <div th:replace="~{fragments/metrics :: metrics}"></div>

    <!-- File List Component -->
    <div th:replace="~{fragments/file-list-component :: fileList(${subFolders}, ${files}, false)}"></div>
</div>

</html>